.main{
    padding: 0px; 
}
.hero{
     background-image: linear-gradient(
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)),
        url('../assets/Beranda/hero-banner.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banner{
   text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}